
@import "variables";
@import "operators";
@import "footer";
@import "nav";
@import"boostrap";


*{                  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:red;  
}
a :hover{
    text-decoration: none;
    color: rgb(240, 203, 203);  
}
ul{
    display: flex;
    justify-content: center;
}
li{
    display: flex;
    justify-content: center;
}

p{
    padding:17px;
    color: rgb(186, 184, 184);
}

body{
    background-color: rgb(48, 68, 78);
}
/* ----------------------------------------------------------------------------------------------------------------------------*/
.somos{ /* Estilo del la sección Nosotros */
    padding: 40px;
    text-align: center;
    font-size: 30px;
}
.banner__servicio{
    padding: 40px;
    text-align: center;
}
.subtitle{
    font-size: 30px;
    padding: 40px;
}
.class__section-divisor{
    font-family: 'Poppins', sans-serif;
    text-align: center;

    &__title-banner{
        color: red;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
}

@media (max-width: 1200px){  /*desktop*/

}
@media (max-width: 992px){  /*portatiles*/

}
@media (max-width: 768px){  /*tablet*/

} 
/* ----------------------------------------------------------------------------------------------------------------------------*/


.div__h2{
padding: 20px;
}
/* ----------------------------------------------------------------------------------------------------------------------------*/

.class__section-divisor{    /* Estilo del sección card aplica para la sección imprenta digital como productos destacados*/
    background-color: rgb(182, 180, 180);
    padding: 10px;
    margin: 5px 0px ;
}

.card-img {
    height: 350px;
}
.card-body-style{
    height: 150px;
}
.card-product{
    height: 250px;
}
.cards{     
    
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px; 
    display: inline-flex;
    text-align: center;
    background-color: rgb(253, 253, 253);
    gap: 70px;

    &__perfil{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 8px;
        width: 15%;
        background-color: black;

            &hover {
                box-shadow: 0 8px 16px 0 white;
            }
    }
    &-img{
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }

    
    &-title{
        padding: 2px 16px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
}
/* MAP */
$card:(
    agenda-docente: url('../resources/agenda\ docente.jpg'),
    agenda-perpetua: url('../resources/Agenda.png'),
    agenda: url('../resources/Img\ Agenda.png')
);

.card__base{
    justify-content: center;
    display: inline-flex;
    text-align: center;
}

@each $name, $url in $card {
    .card-#{$name} {
        @extend .card__base;
        background-image: #{$url};
    }
}
@mixin titulos ( $font-family, $font-size){
    font-family: $font-family;
    font-size: $font-size;
}
h1{
    @include titulos(Poppins, $titulos)
}
/* ----------------------------------------------------------------------------------------------------------------------------*/
                                        /* Estilo del la sección forms o formulario*/
.forms-section{     
    background-color: rgb(172, 172, 172);
}
.forms{
    padding: 5px;
}
.forms__button{
    padding: 10px 100px;
}
.logo__foorm{
    text-align: center;
}
/* ----------------------------------------------------------------------------------------------------------------------------*/
                                        /* footer */

footer {
    background-color: rgb(29, 61, 220);
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}

.ft-main {
    background-color: rgba(0, 175, 239, 0.896);
    font-family: 'Poppins', sans-serif;
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

        &-item {
            padding: 1.25rem;
            min-width: 12.5rem;

            &-title {
                color: #fff;
                font-family: 'Poppins', sans-serif;
                font-size: 1.375rem;
                padding-bottom: 0.625rem;

                    &hover {
                        text-decoration: underline;
                    }
            }
            
        }
}



input[type="email"] {
    font-family: 'Poppins', sans-serif;
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    font-family: 'Poppins', sans-serif;
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
    font-family: 'Poppins', sans-serif;
    padding: 0.9375rem 1.875rem;
    background-color: #333;

        .ft-legal-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            color: white;

            
                .ft-legal-list li {
                    margin: 0.125rem 0.625rem;
                    white-space: nowrap;
                }
        }

}

/* ----------------------------------------------------------------------------------------------------------------------------*/

.img__Agenda{     /* Estilo del la sección footer */
    width: 15%;
    height: 10%;
}
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/

/* Estilo del la sección nuestro servicios */
.img__serv{
    width: 15%;
}
.te_esperamos{
    padding: 40px;
    font-size: 30px;
    text-align: center;
}
.text__p{
    font-family: 'Poppins', sans-serif;
}
/* ----------------------------------------------------------------------------------------------------------------------------*/

.row{
    padding: 10vh;
    font-family: 'Poppins', sans-serif;
    color: black;

    &_footer{
        padding: 10vh;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------*/
